.k-drawer-item {
  user-select: none;
}
.k-icon {
  font-size: 20px;
}
.title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
}
.custom-toolbar {
  width: 100%;
  background-color: #f6f6f6;
  line-height: 10px;
  border-bottom: inset;
  border-bottom-width: 1px;
  padding: 3px 8px;
  color: #656565;
}
.k-drawer-container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.k-drawer-content {
  width: 100%;
  height: 100%;
}

.content-wrap {
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.k-appbar {
  padding: 8px 16px !important;
}
.k-appbar .title {
  font-size: 18px;
  margin: 0;
}
.k-appbar ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.k-appbar li {
  margin: 0 10px;
}
.k-appbar li:hover {
  cursor: pointer;
  color: #84cef1;
}
.k-appbar .k-button {
  padding: 0;
}

.k-appbar .selected {
  color: #0b61fe;
}

.section-list {
  border: 1px solid gray;
  border-radius: 5px;
}
.section-list li {
  color: #6c757d;
  margin-top: 5px;
}
.section-list li:hover {
  cursor: pointer;
  color: #84cef1;
}

.scroll-margin {
  scroll-margin: 20px;
}

.ml30 {
  margin-left: 30px;
}
